:root {
  --primary-text: #333;
  --seconday-text: #9e9e9e;
  --border-gray: #e0e0e0;
}

#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
  overflow: hidden;
  display: flex; 
  flex-direction: column;
  position: relative;
}

a {
  color: var(--primary-text);
  text-decoration: none;
}

#app .container-view {
  padding: 20px 0;
  padding-bottom: 0;
  background: rgb(253,253,252);
  background: -moz-linear-gradient(180deg, rgba(253,253,252,1) 90%, rgba(247,247,246,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(253,253,252,1) 90%, rgba(247,247,246,1) 100%);
  background: linear-gradient(180deg, rgba(253,253,252,1) 90%, rgba(247,247,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdfdfc",endColorstr="#f7f7f6",GradientType=1);
  position: relative;
}

.notif-bubble {
  background: rgb(231,66,26);
  background: -moz-linear-gradient(180deg, rgba(231,66,26,1) 0%, rgba(252,84,34,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(231,66,26,1) 0%, rgba(252,84,34,1) 100%);
  background: linear-gradient(180deg, rgba(231,66,26,1) 0%, rgba(252,84,34,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e7421a",endColorstr="#fc5422",GradientType=1);
  color: white;
  font-size: 11px;
  padding: 0 4px 1px;
  border-radius: 15px;
  position: absolute;
  top: 20%;
  right: -12px;
}

.notif-bubble p {
  font-weight: 600;

}

.call-summary, .archive-calls {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0 12px;
  border: 1px solid var(--border-gray);
  border-radius: 10px;
  background-color: white;
  margin: 0 20px;
}

.calls-list {
  height: calc(666px - 180px);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  flex: 1 1 auto;
  opacity: 0;
  margin-top: 45px;
}

.calls-list::-webkit-scrollbar {
  display: none;
}

.date-section {
  display: flex;
  align-items: center;
  width: 100%;
}

.dotted-line {
  width: 100%;
  border-bottom: 1px dotted var(--border-gray);
  padding: 0 14px;
}

.call-date {
  width: 100%;
  text-align: center;
  color: var(--seconday-text);
  font-weight: 600;
  padding: 0 10px;
}

.call-summary {
  margin: 15px 18px;
}

.call-summary:hover {
  cursor: pointer;
}

.archive-calls {
  width: calc(100% - 40px);
  position: absolute;
  top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 1;
  padding: 18px 0;
  font-weight: 600;
}

.archive-calls:hover {
  cursor: pointer;
}

.archive-calls span {
  margin-left: 15px;
}

.call-type {
  margin-left: 18px;
  margin-right: 15px;
}

p {
  display: block;
  margin: 0;
  padding: 2px 0;
}

.call-from, .call-to span, .call-time {
  font-weight: 600;
}

.call-to {
  color: var(--seconday-text);
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 215px;
}

.call-time {
  position: absolute;
  right: 5px;
  font-size: 13px;
  word-spacing: 12px;
  color: var(--seconday-text);
}

.call-time span {
  width: 32px;
  height: 17px;
  position: absolute;
  right: -5px;
  top: -1px;
  border: 1px solid var(--border-gray);
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.call-details {
  text-align: center;
}

.call-details p {
  text-align: left;
}

.archive-btn {
  background: #4ac422;
  color: white;
  border: 1px solid var(--primary-text);
  padding: 5px 10px;
  margin-top: 5px;
}

.archive-btn:hover {
  cursor: pointer;
}

.unarchive-btn {
  background: #fc5624;
}

.fadeIn {
  animation: 1s fadeIn forwards;
}

.fadeOut {
  animation: 1s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}