header {
  height: 60px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #e0e0e0;
}

header svg {
  width: 32%;
  height: 100%;
  align-self: center;
  margin-left: 14px;
  margin-right: 24px;
}

nav {
  width: 70%;
  background: rgb(233,233,233);
  background: linear-gradient(180deg, rgba(233,233,233,1) 0%, rgba(255,255,255,1) 100%);
  padding-left: 14px;
  margin-right: 4px;
  margin-top: 3px;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  font-size: 14px;
  font-weight: 600;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 100%;
  align-items: center;
}

ul:first-child {
  padding-left: 7px;
}