header {
  height: 60px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  background: white;
  flex: 0 1 auto;
  z-index: 1;
  position: relative;
}

header svg {
  width: 27%;
  height: 100%;
  align-self: center;
  margin-left: 14px;
  margin-right: 24px;
}

nav {
  width: 65%;
  background: rgb(233,233,233);
  background: linear-gradient(180deg, rgba(233,233,233,1) 0%, rgba(255,255,255,1) 100%);
  padding-left: 14px;
  margin-right: 4px;
  margin-top: 3px;
  border: 1px solid var(--border-gray);
  border-bottom: 0;
  border-top-left-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 100%;
  align-items: center;
}

ul li:first-of-type {
  padding-left: 7px;
}

ul li:last-of-type {
  border-left: 1px dotted var(--border-gray);
  padding-left: 10px;
}

.active {
  padding-bottom: 16px;
  border-bottom: 4px solid #fc5624;
  animation: showBorder 0.75s alternate;
}

@keyframes showBorder {
  from {
    border-bottom: 4px solid white;
  }
  to {
    border-bottom: 4px solid #fc5624;
  }
}